<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test1">
    <classes>
      <class name="project.BuyFish"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="project.BuyDogs"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test3">
    <classes>
      <class name="project.BuyCats"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
